body{
    margin: 0;
    background-image: url('leone-venter-VieM9BdZKFo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    background-color: #D2691E;
    
}
header a{
    text-decoration: none;
    color: antiquewhite;
}

header{
    display: flex;
    padding: 1em;
}
#home{
    flex: 1;
    nav-right: 2;
    
}
nav{
    flex: 1;
    display: flex;
}
nav a{
    flex: 1;
}
html{
    scroll-behavior: smooth;
}